table{
    width: 20%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border: 2px solid #cdcdcd;
    
}
th, td{
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}
#title{
 
    color: black;
    font-size: 20px;
    font-weight: bold;
}